config/database.yml
config/site.yml
config/mail.yml
db/*
!db/seeds.rb
!db/migrate
!db/catalogs
!db/load_catalogs.sql
tmp/*
log/*
*~
semantic.cache
.#*
.svn
.svn/*
\#*
coverage
.DS_Store
._*
.autotest*
.bundle
.idea/*
.idea*
nbproject
.sass-cache
public/stylesheets/application.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/stylesheets/gallery.css
public/uploads
uploads
Gemfile.lock
