<p>
	<button class="modalInput" rel="#prompt">User input</button>
</p>


<!-- user input dialog -->
<div class="modal" id="prompt">
	<div id="images_form">
		<b>Images</b>
	</div>
</div>

<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
$(document).ready(function() {

var triggers = $("button.modalInput").overlay({

	// some expose tweaks suitable for modal dialogs
	expose: {
		color: '#333',
		loadSpeed: 200,
		opacity: 0.9
	},
   	// when overlay is opened, load our player 
    onLoad: function() {
		$.ajax({
		  url: "/images/new",
		  success: function(request) { $("#images_form").html(request); }
		});
		
    },
	closeOnClick: false
	

});

$("#prompt form").submit(function(e) {
	// close the overlay
	return false;

});

});
</script>
