%h2{:style => 'text-align: left;'}=@page.title
%div{:class => "span-24 justify_text last" }
  = image_tag @page.image.file.url(:medium),  :class =>"top pull-1 left", :style => 'margin-right: 15px; padding-left: 50px;' unless @page.image.nil?
  =raw textilize(@page.body)

%div{:class => 'span-22 ui-buttons last'}
  = button_link_to t(:edit), edit_page_path(:id => @page)
  = button_link_to t(:cancel), pages_path