%div{:class => 'span-22 section_left prepend-2 last'}
  %h3=t('.title')
  - simple_form_for(@user, :user, :url => user_settings_path(:id => @user.id), :html => { :multipart => true }) do |f|
    = render :partial => 'form', :locals => { :f => f }
