%div{:class => 'span-22 prepend-2 section_left last'}
  %h2=t('.title')
  = simple_form_for(@navlink, :url => admin_navlink_path(:id => @navlink.id)) do |f|
    = render :partial => 'form', :locals => {:f => f}