= text_field :autocomplete, :journal_search, :size => 20, :autocomplete =>"off"
= link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-plus') , '#', :title => 'Agregar journal', :remote => true, :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all", :id => 'new_journal_form'
