%p
  Bienvenido(a) #{@resource.email}!
%p Puedes confirmar tu cuenta a tráves del siguiente enlace:
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
