%p
  Hola #{@resource.email}!
%p Se ha solicitado  cambiar tu contraseña a través de un enlace, si deseas hacerlo debes usar el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no has solicitado esto, por favor ignora este correo.
%p Tu contraseña no cambiará hasta que usees el enlace de arriba y registres una nueva.
